* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.8s all ease;
  color: white;
}

.dbz-container {
  width: 85vw;
  /*border: 5px solid black;*/
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.details {
  text-align: center;
}

#Goku .details, #Naruto .details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);  
}

#Edward .name{
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.race {
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 7px;
    display: inline;
    background-color: black;
    padding: 3px;
}

#Goku .race {
  background-color: #276A2F;
}

#Natsu .race {
  background-color: #DB6B00;
}

#Edward .race {
  background-color: #D01A27;
}

#Naruto .race {
  background-color: #FF8F01;
}

#Asuna .race {
  background-color: #95587D;
}

.item {
  border: 5px solid darkolivegreen;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: background 0.3s ease-in-out;
}

img {
    width: 128px;
    transition: transform 0.3s ease-in-out; 
  }
  
  img:hover {
    transform: scale(1.1);
  }

.desc {
  text-align: justify;
  line-height: 1.5;
  font-size: large;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);  
}

#Edward .desc{
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.7);
}

#Goku {
  background-color: #f8a333;
  grid-column: 1/3;
  grid-row: 1/2;
}

#Natsu {
  background-color: #cc0000;
}

#Edward {
  background-color: #1a0d0d;
  color: whitesmoke;
}

#Naruto {
  background-color: #195098;
  grid-column: 2/4;
  grid-row: 2/3;    
}

#Asuna {
  background-color: #e0ab84;
  grid-column: 4/5;
  grid-row: 1/3;
}

@media (max-width: 950px){
    .dbz-container {
        grid-template-columns: 1fr 1fr;
    }

    #Goku {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #Goku .details, #Naruto .details{
        flex-direction: column;
    }

    #Natsu {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #Edward {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #Naruto {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #Asuna {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #Asuna .details {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 750px) {
    .dbz-container {
        grid-template-columns: 1fr;
    }

    #Goku {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #Natsu {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #Edward {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #Naruto {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #Asuna {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    #Goku .details, 
    #Natsu .details, 
    #Edward .details, 
    #Naruto .details, 
    #Asuna .details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
    

